$primary-color: #1db954;
$secondary-color: #191414;
$background-color: #111;
$backgroundShade1: #282828;
$backgroundShade2: #333333;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$background-text-color: #ffffff;
$toast-background-color: #282828;
$toast-text-color: #ffffff;
$toast-secondary-color: rgba(0, 0, 0, 0.295);

body {
    background-color: $background-color;
    color: $background-text-color;
}