<div class="menu-overlay" *ngIf="showMenu" (click)="showMenu = false"></div>
<div *ngIf="showMenu">
    <div class="menu-popup menu-popup-element" [ngStyle]="menuStyle" *ngIf="mode == 'ArtistElement'">
        <button *ngIf="popupTypeDefault" class="menu-popup-element" (click)="copyElement()"
            [innerHTML]="scanForBreak('Copy')"></button>
    </div>
    <div class="menu-popup menu-popup-element" [ngStyle]="menuStyle" *ngIf="mode == 'UserElement'">
        <button *ngIf="popupTypeDefault" class="menu-popup-element" (click)="copyElement()"
            [innerHTML]="scanForBreak('Copy')"></button>
        <button (click)="navigateToUser()" *ngIf="dataValue && popupTypeDefault" class="menu-popup-element"
            [innerHTML]="scanForBreak('Go To User')"></button>
    </div>
    <div class="menu-popup menu-popup-element" [ngStyle]="menuStyle" *ngIf="mode == 'SongElement'">
        <button (click)="copyLink(dataValue, 'track')" *ngIf="dataValue && popupTypeDefault" class="menu-popup-element"
            [innerHTML]="scanForBreak('Copy Track URL')"></button>
        <button (click)="copyEmbed(dataValue, 'track')" *ngIf="dataValue && popupTypeDefault" class="menu-popup-element"
            [innerHTML]="scanForBreak('Copy Track Embed')"></button>
        <button class="menu-popup-element" *ngIf="dataValue && popupTypeDefault" (click)="addToPlaylistButton()"
            [innerHTML]="scanForBreak('Add to Playlist')"></button>
        <div *ngIf="extraMenu == 1" class="menu-popup menu-popup-element" [ngStyle]="extraMenuStyle">
            <button *ngFor="let playlist of myPlaylists" class=" menu-popup-element"
                (click)="addSongToPlaylist(playlist.id)" [innerHTML]="scanForBreak(playlist.name)"></button>
        </div>
        <button class="menu-popup-element" (click)="handleButtonClick('This can only be clicked by dev')"
            *ngIf="popupTypeDev" [innerHTML]="scanForBreak('Button 3')"></button>
        <button *ngIf="popupTypeDefault" class="menu-popup-element" (click)="copyElement()"
            [innerHTML]="scanForBreak('Copy')"></button>
    </div>
    <div class="menu-popup menu-popup-element" [ngStyle]="menuStyle" *ngIf="mode == 'PlaylistElement'">
        <button (click)="copyLink(dataValue, 'playlist')" *ngIf="dataValue && popupTypeDefault"
            class="menu-popup-element" [innerHTML]="scanForBreak('Copy Playlist URL')"></button>
        <button (click)="copyEmbed(dataValue, 'playlist')" *ngIf="dataValue && popupTypeDefault"
            class="menu-popup-element" [innerHTML]="scanForBreak('Copy Playlist Embed')"></button>
        <button (click)="navigateToPlaylist()" *ngIf="dataValue && popupTypeDefault" class="menu-popup-element"
            [innerHTML]="scanForBreak('Go To Playlist')"></button>
        <div *ngIf="extraMenu == 1" class="menu-popup menu-popup-element" [ngStyle]="extraMenuStyle">
            <button *ngFor="let playlist of myPlaylists" class=" menu-popup-element" (click)="addToPlaylistButton()"
                [innerHTML]="scanForBreak(playlist.name)"></button>
        </div>
        <button class="menu-popup-element" (click)="handleButtonClick('This can only be clicked by dev')"
            *ngIf="popupTypeDev" [innerHTML]="scanForBreak('Button 3')"></button>
        <button *ngIf="popupTypeDefault" class="menu-popup-element" (click)="copyElement()"
            [innerHTML]="scanForBreak('Copy')"></button>
    </div>
</div>