<div id="HeaderBar">
    <div id="HeaderBarLeft">
        <div id="HeaderBarLeftLogo">
            <img id="spotifyLogo" src="assets/icons/origami.png" alt="Logo" />
        </div>
        <div id="HeaderBarLeftTitle">
            <h1 id="titleInHeader">Spotihub</h1>
        </div>
    </div>
    <div id="HeaderBarRight">
        <div id="HeaderBarRightMenu">
            <ul class="TableWithItems">
                <li class="TableItem"><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="TableItem"><a routerLink="/about" routerLinkActive="active">About</a></li>
                <li class="TableItem"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
        </div>
    </div>
</div>