<div id="HeaderBar">
    <div id="HeaderBarLeft">
        <div id="HeaderBarLeftLogo">
            <img id="spotifyLogo" src="assets/icons/origami.png" alt="Logo" />
        </div>
        <div id="HeaderBarLeftTitle">
            <h1 id="titleInHeader">MarHub</h1>
        </div>
    </div>
    <div id="HeaderBarMiddle">
        <div class="search-container">
            <input class="search-bar" #searchInput type="text" placeholder="Enter your search term here"
                (keyup.enter)="onSearchClicked(searchInput.value)">
            <button class="search-button" (click)="onSearchClicked(searchInput.value)">Search</button>
        </div>
    </div>
    <div id="HeaderBarRight">
        <div id="HeaderBarRightMenu">
            <ul class="TableWithItems">
                <li class="TableItem"><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="TableItem"><a routerLink="/user" routerLinkActive="active">User</a></li>
                <li class="TableItem"><a routerLink="/about" routerLinkActive="active">About</a></li>
                <li class="TableItem"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                <li class="TableItem"><a routerLink="/docs" routerLinkActive="active">Docs</a></li>
                <li class="TableItem"><a routerLink="/game" routerLinkActive="active">Game</a></li>
                <li class="TableItem"><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
            </ul>
        </div>
    </div>
</div>