@import '../../../styles.scss';

#HeaderBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    padding: 10px;

    #HeaderBarLeft {
        display: flex;
        align-items: center;

        #HeaderBarLeftLogo {
            margin-right: 10px;

            img#spotifyLogo {
                width: 50px;
                height: 50px;
            }
        }

        #HeaderBarLeftTitle {
            h1#titleInHeader {
                color: $secondary-text-color;
                font-size: 18px;
                font-weight: bold;
                margin: 0;
            }
        }
    }

    #HeaderBarRight {
        #HeaderBarRightMenu {
            ul.TableWithItems {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li.TableItem {
                    display: inline-block;
                    margin-right: 10px;

                    a {
                        color: $secondary-text-color;
                        text-decoration: none;
                        font-size: 14px;
                        transition: color 0.2s;

                        &:hover {
                            color: $primary-color;
                        }

                        &.active {
                            color: $primary-color;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    #HeaderBarMiddle {
        .search-container {
            display: flex;
            align-items: center;
            max-width: 500px;
            margin: 0 auto;
            margin-bottom: 0px;

            .search-bar {
                flex: 1;
                padding: 10px;
                border: 1px solid $backgroundShade2;
                border-radius: 5px 0 0 5px;
                font-size: 16px;

                &::placeholder {
                    color: $background-text-color;
                }
            }

            .search-button {
                padding: 10px 20px;
                background-color: $primary-color;
                border: none;
                border-radius: 0 5px 5px 0;
                color: $primary-text-color;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}