<div *ngIf="!isOwnUserProfileEmpty()" class="page">
    <div class="profile">
        <div class="container">
            <img *ngIf="user.images.length > 0" class="profile-image" src="{{getCorrectPicture(user.images)}}"
                alt="Profile Image">
            <img *ngIf="user.images.length == 0" class="profile-image"
                src="../../../assets/images/defaultProfileImage.png" alt="Profile Image">
            <div *ngIf="user.product == 'premium' && skin == ''" class="overlay premium">
                <img src="assets/icons/crown.png" alt="Foreground Image">
            </div>
            <div *ngIf="user.product == 'premium' && skin == 'heart'" class="overlay premiumFlip">
                <img src="assets/icons/crown.png" alt="Foreground Image">
            </div>
            <div *ngIf="user.product == 'free'" class="overlay free">
                <img src="assets/icons/koter.png" alt="Foreground Image">
            </div>
            <div *ngIf="skin != ''" class="overlay skinItem">
                <img src="assets/images/skins/{{skin}}.png" alt="Foreground Image">
            </div>
        </div>
        <h1 class="display-name">{{user.display_name}}</h1>
        <p class="country" *ngIf="user.country">Country: {{user.country}}</p>
        <p class="followers">Followers: {{user.followers.total}}</p>
        <p class="product" *ngIf="user.product">Product: {{user.product}}</p>
        <p class="item-stats">User Id: {{user.id}}</p>
        <a class="spotify-link" href="{{user.external_urls.spotify}}" target="_blank">Visit on Spotify.com</a>
    </div>
    <div class="itemBar" id="artistsFollowed" *ngIf="followingArtists.length != 0">
        <h1 class="itemBar-title">Artists followed.</h1>
        <div class="item-container">
            <div class="hoverItem" *ngFor="let artist of followingArtists">
                <img *ngIf="user.images.length == 0" src="../../../assets/images/defaultProfileImage.png"
                    alt="{{artist.name}} their profile picture" class="profile-image-small">
                <img *ngIf="user.images.length != 0" src="{{getCorrectPicture(artist.images)}}"
                    alt="{{artist.name}} their profile picture" class="profile-image-small">
                <p class="item-display-name">{{artist.name}}</p>
                <p class="item-stats">Popularity: {{artist.popularity}}</p>
                <p class="item-stats">Followers: {{globalFunctionsService.convertNumber(artist.followers.total)}}</p>
                <p class="item-genres">{{artist.genres.join(', ')}}</p>
                <a class="spotify-link" href="{{artist.external_urls.spotify}}" target="_blank">Visit on Spotify.com</a>
            </div>
        </div>
    </div>
    <div class="itemBar" id="top25" *ngIf="top25Songs.length != 0">
        <h1 class="itemBar-title">Top 25 songs last 30 days.</h1>
        <div class="item-container">
            <div class="item menu-item menu-type-song" *ngFor="let song of top25Songs" [attr.data-value]="song.id">
                <img *ngIf="user.images.length == 0" src="../../../assets/images/defaultCover.png"
                    alt="{{song.name}} it's album cover" class="profile-image-small">
                <img *ngIf="user.images.length != 0" src="{{getCorrectPicture(song.album.images)}}"
                    alt="{{song.name}} it's album cover" class="profile-image-small">
                <p class="item-display-name">{{song.name}}</p>
                <p class="item-stats">Popularity: {{song.popularity}}</p>
                <p class="item-stats" *ngFor="let artist of song.artists">
                    <a class="spotify-link" target="_blank" href="{{artist.external_urls.spotify}}">{{artist.name}}</a>
                </p>
                <a class="spotify-link" href="{{song.external_urls.spotify}}" target="_blank">Visit on Spotify.com</a>
            </div>
        </div>
    </div>
    <div class="itemBar" id="playlists" *ngIf="myPlaylists.length != 0">
        <h1 class="itemBar-title">Self Made Playlists.</h1>
        <div class="item-container">
            <div class="item menu-item menu-type-playlist" *ngFor="let playlist of myPlaylists"
                [attr.data-value]="playlist.id">
                <img *ngIf="playlist.images.length > 0" src="{{getCorrectPicture(playlist.images)}}"
                    alt="{{playlist.name}} it's album cover" class="cover-image-small">
                <img *ngIf="playlist.images.length == 0" src="../../../assets/images/defaultCover.png"
                    alt="this is the default cover" class="cover-image-small">
                <p class="item-display-name">{{playlist.name}}</p>
                <p class="item-stats">Public: {{playlist.public}}</p>
                <p class="item-stats">Tracks: {{playlist.tracks.total}}</p>
                <p class="item-stats">{{replaceCharecterString(playlist.description)}}</p>
                <a class="spotify-link" href="{{playlist.external_urls.spotify}}" target="_blank">Visit on
                    Spotify.com</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isOwnUserProfileEmpty()" class="itemBar">
    <h1 class="display-name">You should probably connect to the spotify api</h1>
    <img *ngIf="showImage" src="../../../assets/images/no api connected.png" alt="megamind meme">
</div>