<div *ngIf="loadedUser" class="page">
    <div class="profile">
        <div class="container">
            <img class="profile-image" src="{{user.images[0].url}}" alt="Profile Image">
            <div *ngIf="user.product == 'premium'" class="overlay premium">
                <img src="assets/icons/crown.png" alt="Foreground Image">
            </div>
            <div *ngIf="user.product == 'free'" class="overlay free">
                <img src="assets/icons/koter.png" alt="Foreground Image">
            </div>
        </div>
        <h1 class="display-name">{{user.display_name}}</h1>
        <p class="country">Country: {{user.country}}</p>
        <p class="followers">Followers: {{user.followers.total}}</p>
        <p class="product">Product: {{user.product}}</p>
        <a class="spotify-link" href="{{user.external_urls.spotify}}" target="_blank">Visit Spotify
            Profile</a>
    </div>
    <div class="itemBar">
        <h1 class="itemBar-title">Artists followed.</h1>
        <div class="item-container">
            <div class="item" *ngFor="let artist of followingArtists">
                <img src="{{artist.images[0].url}}" alt="{{artist.name}} their profile picture"
                    class="profile-image-small">
                <p class="item-display-name">{{artist.name}}</p>
                <p class="item-stats">Popularity: {{artist.popularity}}</p>
                <p class="item-stats">Followers: {{globalFunctionsService.convertNumber(artist.followers.total)}}</p>
                <p class="item-genres">{{artist.genres.join(', ')}}</p>
                <a class="spotify-link" href="{{artist.external_urls.spotify}}" target="_blank">Visit Spotify
                    Profile</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!loadedUser" class="profile">
    <h1 class="display-name">You should probably connect to the spotify api</h1>
</div>