<div class="page">
    <div class="itemBar" id="tracks" *ngIf="!isEmpty(tracks)">
        <h1 class="itemBar-title">Tracks</h1>
        <button class="hideButton" (click)="flipState('tracks')">Hide</button>
        <div class="item-container" *ngIf="showTracks">
            <div class="item menu-item menu-type-song" *ngFor="let song of tracks['tracks']['items']"
                [attr.data-value]="song.id">
                <img *ngIf="song.album.images.length == 0" src="../../../assets/images/defaultCover.png"
                    alt="{{song.name}} it's album cover" class="profile-image-small">
                <img *ngIf="song.album.images.length != 0" src="{{getCorrectPicture(song.album.images)}}"
                    alt="{{song.name}} it's album cover" class="profile-image-small">
                <p class="item-display-name">{{song.name}}</p>
                <p class="item-stats">Popularity: {{song.popularity}}</p>
                <p class="item-stats" *ngFor="let artist of song.artists">
                    <a class="spotify-link" target="_blank" href="{{artist.external_urls.spotify}}">{{artist.name}}</a>
                </p>
                <a class="spotify-link" href="{{song.external_urls.spotify}}" target="_blank">Visit on Spotify.com</a>
            </div>
        </div>
    </div>
    <div class="itemBar" id="artistsFollowed" *ngIf="!isEmpty(artists)">
        <h1 class="itemBar-title">Artists</h1>
        <button class="hideButton" (click)="flipState('artists')">Hide</button>
        <div class="item-container" *ngIf="showArtists">
            <div class="item menu-item menu-type-artist" *ngFor="let artist of artists['artists']['items']"
                [attr.data-value]="artist.id">
                <img *ngIf="artist.images.length == 0" src="../../../assets/images/defaultProfileImage.png"
                    alt="{{artist.name}} their profile picture" class="profile-image-small">
                <img *ngIf="artist.images.length != 0" src="{{getCorrectPicture(artist.images)}}"
                    alt="{{artist.name}} their profile picture" class="profile-image-small">
                <p class="item-display-name">{{artist.name}}</p>
                <p class="item-stats">Popularity: {{artist.popularity}}</p>
                <p class="item-stats">Followers: {{globalFunctionsService.convertNumber(artist.followers.total)}}</p>
                <p class="item-genres">{{artist.genres.join(', ')}}</p>
                <a class="spotify-link" href="{{artist.external_urls.spotify}}" target="_blank">Visit on Spotify.com</a>
            </div>
        </div>
    </div>
    <div class="itemBar" id="albums" *ngIf="!isEmpty(albums)">
        <h1 class="itemBar-title">Albums</h1>
        <button class="hideButton" (click)="flipState('albums')">Hide</button>
        <div class="item-container" *ngIf="showAlbums">
            <div class="item menu-item menu-type-album" *ngFor="let album of albums['albums']['items']"
                [attr.data-value]="album.id">
                <img *ngIf="album.images.length > 0" src="{{getCorrectPicture(album.images)}}"
                    alt="{{album.name}} it's album cover" class="cover-image-small">
                <img *ngIf="album.images.length == 0" src="../../../assets/images/defaultCover.png"
                    alt="this is the default cover" class="cover-image-small">
                <p class="item-display-name">{{album.name}}</p>
                <p class="item-stats">Type: {{album.album_type}}</p>
                <p class="item-stats">Tracks: {{album.total_tracks}}</p>
                <p class="item-stats" *ngFor="let artist of album.artists">
                    <a class="spotify-link" target="_blank" href="{{artist.external_urls.spotify}}">{{artist.name}}</a>
                </p>
                <a class="spotify-link" href="{{album.external_urls.spotify}}" target="_blank">Visit on
                    Spotify.com</a>
            </div>
        </div>
    </div>
    <div class="itemBar" id="playlists" *ngIf="!isEmpty(playlists)">
        <h1 class="itemBar-title">Playlists</h1>
        <button class="hideButton" (click)="flipState('playlists')">Hide</button>
        <div class="item-container" *ngIf="showPlaylists">
            <div class="item menu-item menu-type-playlist" *ngFor="let playlist of playlists['playlists']['items']"
                [attr.data-value]="playlist.id">
                <img *ngIf="playlist.images.length > 0" src="{{getCorrectPicture(playlist.images)}}"
                    alt="{{playlist.name}} it's album cover" class="cover-image-small">
                <img *ngIf="playlist.images.length == 0" src="../../../assets/images/defaultCover.png"
                    alt="this is the default cover" class="cover-image-small">
                <p class="item-display-name">{{playlist.name}}</p>
                <p class="item-stats">Public: {{playlist.public}}</p>
                <p class="item-stats">Tracks: {{playlist.tracks.total}}</p>
                <p class="item-stats">{{replaceCharecterString(playlist.description)}}</p>
                <a class="spotify-link" href="{{playlist.external_urls.spotify}}" target="_blank">Visit on
                    Spotify.com</a>
            </div>
        </div>
    </div>
</div>