@import '../../../styles.scss';

// Styles for the form
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: $backgroundShade1;
    color: $background-text-color;
    font-family: Arial, sans-serif;
}

h1 {
    color: $primary-color;
}

h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="checkbox"],
select {
    margin-top: 5px;
}

button {
    margin-top: 10px;
    background-color: $primary-color;
    color: $primary-text-color;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darken($primary-color, 10%);
}

input[type="submit"] {
    margin-top: 20px;
    background-color: $primary-color;
    color: $primary-text-color;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darken($primary-color, 10%);
}

// Custom styling for the Spotify access token checkbox
#spotifyAccessToken {
    margin-top: 0;
}

// Styling for the color theme select dropdown
.comboBox {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

// Styling for the delete buttons
button[type="button"] {
    background-color: transparent;
    color: $primary-color;
    padding: 0;
}

button[type="button"]:hover {
    text-decoration: underline;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-wrapper input[type="checkbox"] {
    margin-right: 10px;
}

.noTopMargin {
    margin-top: 0;
}