<div *ngIf="!isPlaylistDataEmpty()">
    <div class="profile menu-item menu-type-playlist" [attr.data-value]="playlistData['id']">
        <img src="{{ getCorrectPicture(playlistData['images']) }}" alt="{{ playlistData['name'] }}" class="cover-image">
        <h1 class="profile-title">{{ playlistData['name'] }}</h1>
        <p class="profile-owner">Created by <a routerLink="../user/{{ playlistData['owner']['id'] }}"
                class="spotify-link">{{
                playlistData['owner']['display_name'] }}</a></p>
        <div class="profile-description">
            <p>{{ playlistData['description'] }}</p>
        </div>
        <div class="profile-followers">
            <p *ngIf="playlistData['followers'] && playlistData['followers']['total']"> {{
                playlistData['followers']['total'] }} followers</p>
        </div>
        <div>
            <a href="{{ playlistData['external_urls']['spotify'] }}" target="_blank" class="spotify-link">View on
                Spotify</a>
        </div>
    </div>

    <div class="itemBar">
        <h2 class="itemBar-title">Tracks</h2>
        <div class="item-container">
            <div class="item menu-item menu-type-song" *ngFor="let track of playlistData['tracks']['items']"
                [attr.data-value]="track['track']['id']">
                <img *ngIf="track['track']['album']['images'] != 0"
                    src="{{ getCorrectPicture(track['track']['album']['images']) }}"
                    alt="{{ track['track']['album']['name'] }}" class="cover-image-small">
                <img *ngIf="track['track']['album']['images'] == 0" src="../../../assets/images/defaultCover.png"
                    alt="this is the default cover" class="cover-image-small">
                <h3 class="item-display-name">{{ track['track']['name'] }}</h3>
                <span class="item-stats" *ngFor="let artist of track['track']['artists']">
                    <a class="spotify-link" target="_blank" href="{{artist.external_urls.spotify}}"> {{artist.name}}
                    </a>
                </span>
                <p class="item-stats">Album:
                    <a class="spotify-link" target="_blank"
                        href="{{track['track']['album']['external_urls']['spotify']}}">
                        {{track['track']['album']['name']}}
                    </a>
                </p>
                <a *ngIf="track['is_local'] == false" class="spotify-link"
                    href="{{ track['track']['external_urls']['spotify'] }}" target="_blank">Listen
                    on Spotify</a>
                <p *ngIf="track['is_local'] != false" class="item-stats">This is a local song.</p>
            </div>
        </div>
    </div>

</div>
<div *ngIf="isPlaylistDataEmpty()" class="itemBar">
    <h1>Welp, there is no data right now, that's akward.</h1>
</div>