@import '../../../styles.scss';

.page {
    background-color: $backgroundShade1;
    padding: 20px;
    color: $background-text-color;

    .Item {
        margin-bottom: 20px;
        padding: 20px;
        background-color: $backgroundShade2;
        border-radius: 5px;

        &.highlight {
            background-color: $primary-color;
        }

        &.highlight * {
            color: $primary-text-color;
        }

        .Title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 0;
        }

        .subtext {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .ExampleImage {
            display: flex;
            align-items: center;

            img {
                width: 100px;
                height: 100px;
                margin-right: 10px;
            }

            p {
                margin: 0;
            }
        }
    }
}