<div class="page">


    <!-- Rest of your page content goes here -->
</div>
<!-- <button (click)="addArticle()">Test dynamic loading</button> -->
<div class="page" *ngFor="let item of Articles.reverse()">
    <div class="Item {{item.class}}">
        <h1 class="Title" [innerHTML]="item.title"></h1>
        <p class="subtext" [innerHTML]="item.text"></p>
        <div *ngIf="item.image.enabled" class="ExampleImage">
            <img src="{{item.image.path}}" alt="{{item.image.altText}}">
            <p [innerHTML]="item.image.bottomText"></p>
        </div>
        <p *ngIf="item.bottomText.enabled" [innerHTML]="item.bottomText.innerHTML">
        </p>
    </div>
</div>